{{ define "main" }}
<main id="list">
    <h1>
        {{ cond (ne .Type "page") .Type "Posts" }}
    </h1>

    {{ range .Pages }}
    <section>
        <time>
            {{ .PublishDate.Format "2006 Jan 2" }}
        </time>
        <h2>
            <a href="{{ .RelPermalink }}" class="wa link">
                <span>{{ .Title }}</span>
                <b class="arrow"></b>
            </a>
        </h2>
        <h3>
            Written by {{ .Params.author }} on {{ .PublishDate.Format "January 2, 2006" }}
            &nbsp;&middot;&nbsp;
            {{ .ReadingTime }} minute read
        </h3>
        <p>
            {{ .Summary }}
        </p>
    </section>
    {{ end }}
</main>
{{ end }}