{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

<main id="post" aria-role="main">
    <aside>
        {{ with (.Params.banner) }}
        <img src="{{ . }}" id="banner">
        {{ end }}
        <h1>
            {{ .Title }}
        </h1>
    </aside>
    <article>
        {{ .Content }}
    </article>
</main>

<footer class="border">
    <section class="pb">
        Last edited on {{ .Lastmod.Format "January 2, 2006" }}.
    </section>
</footer>

{{ end }}