{{ define "main" }}
<main id="home" aria-role="main">
    <div class="intro">
        {{.Content}}
    </div>
    <ul class="list">
    {{ range .Site.RegularPages }}
        <li>
            <div>
                <a href="{{ .Permalink }}" class="wa link">
                    <span>{{ .LinkTitle }}</span>
                    <b class="arrow"></b>
                </a>
            </div>
            <time>
                {{ .PublishDate.Format "January 2006" }}
            </time>
        </li>
    {{ end }}
    </ul>
</main>
{{ end }}